<fieldset>
    <legend>Bank Account</legend>
    <div class="form-row">
        <label>IBAN</label>
        <div class="input-col">
            <input type="text" name="iban">
            <span class="error-msg"></span>
        </div>
    </div>
    <div class="form-row">
        <label>BIC</label>
        <div class="input-col">
            <input type="text" name="bic">
            <span class="error-msg"></span>
        </div>
    </div>
    <div class="delete-container">
        <button class="delete-account" type="button">Delete</button>
    </div>
</fieldset>