<form class="registration-step2">
    <div class="bank-accounts"></div>
    <div class="error-message"></div>
    <button type="button" class="add-account">Add Bank Account</button>
    <input type="submit" class="save" value="Save"/>
</form>