<form class="registration-step1">
    <fieldset>
        <legend>Personal Data</legend>
        <div class="form-row">
            <label>First Name</label>
            <div class="input-col">
                <input type="text" name="firstName">
                <span class="error-msg"></span>
            </div>
        </div>
        <div class="form-row">
            <label>Last Name</label>
            <div class="input-col">
                <input type="text" name="lastName">
                <span class="error-msg"></span>
            </div>
        </div>
        <div class="form-row">
            <label>DOB</label>
            <div class="input-col">
                <input type="text" name="dateOfBirthday">
                <span class="error-msg"></span>
            </div>
        </div>
    </fieldset>
    <input type="submit" class="next-step" value="Next Step" />
</form>